
@{
    ViewData["Title"] = "Киномотография";
}

<h1>Область киномотографии</h1>

<div class="container">
    <a asp-controller="listISRCFilms" asp-action="Index">СПИСОК выданных государственных регистрационных удостоверений фильмам за 2019 год</a>
</div>
<div class="container">
    <a asp-controller="Main" asp-action="InfoISRC">Информация по выдаче прокатных удостоверений художественным фильмам</a>
</div>
<div class="container">
    <a asp-controller="Main" asp-action="InfoUchastieKonkurs">
        Информации о перечне документов на участие в творческих конкурсах на производство национальных фильмов, продвижение фильмов, кандидатуры режиссеров-постановщиков
    </a>
</div>


